<div class="container">
    <form>
        <h1>ბლოგის დამატება</h1>
        <h6>ატვირთეთ ფოტო</h6>
        <div class="upload-img" *ngIf="!fileName">
            <label>
                <img src="../../assets/images/folder-add.png" alt="add image">
                <p>ჩააგდეთ ფაილი აქ ან <span><a>აირჩიეთ ფაილი</a></span></p>
                <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput>
            </label>
        </div>
        <div class="file-name" *ngIf="fileName">
            <img src="../../assets/images/gallery.png" alt="image-icon">
            <p>{{fileName}}</p>
            <button (click)="onDelete()"><img src="../../assets/images/x.png" alt="x"></button>
        </div>

    </form>


</div>