<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>ბლოგის დამატება</h1>
        <h6>ატვირთეთ ფოტო</h6>
        <div class="upload-img" *ngIf="!fileName">
            <label>
                <img src="../../assets/images/folder-add.png" alt="add image">
                <p>ჩააგდეთ ფაილი აქ ან <span><a>აირჩიეთ ფაილი</a></span></p>
                <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput>
            </label>
        </div>
        <div class="file-name" *ngIf="fileName">
            <img src="../../assets/images/gallery.png" alt="image-icon">
            <p>{{fileName}}</p>
            <button (click)="onDelete()"><img src="../../assets/images/x.png" alt="x"></button>
        </div>

        <div class="two-input-line">
            <div class="single-input">
                <label for="author">ავტორი *</label>
                <br>
                <input type="text" id="author" placeholder="შეიყვანეთ ავტორი" formControlName="author">
                <p class="hint"
                    [ngClass]="{ 'valid-hint': !form.get('author')!.hasError('minlength') && form.get('author')!.touched,
                'invalid-hint': (form.get('author')!.hasError('minlength') && form.get('author')!.touched) || (form.get('author')?.hasError('required') && form.get('author')?.touched)}">
                    • მინიმუმ 4
                    სიმბოლო</p>
                <p class="hint" [ngClass]="{ 'valid-hint': !form.get('author')!.hasError('twoWordsValidation') && form.get('author')!.touched,
                'invalid-hint': form.get('author')!.getError('twoWordsValidation') && form.get('author')!.touched }">•
                    მინიმუმ ორი
                    სიტყვა</p>
                <p class="hint"
                    [ngClass]="{ 'valid-hint': !form.get('author')!.hasError('pattern') && form.get('author')!.touched,
                'invalid-hint':(form.get('author')!.hasError('pattern') && form.get('author')!.touched) || (form.get('author')?.hasError('required') && form.get('author')?.touched)}">
                    • მხოლოდ
                    ქართული სიმბოლოები</p>
            </div>
            <div class="single-input">
                <label for="title">სათაური *</label>
                <br>
                <input type="text" id="title" placeholder="შეიყვანეთ სათაური" formControlName="title">
                <p class="hint"
                    [ngClass]="{ 'valid-hint': !form.get('title')!.hasError('minlength') && form.get('title')!.touched,
                'invalid-hint': (form.get('title')!.hasError('minlength') && form.get('title')!.touched) || (form.get('title')?.hasError('required') && form.get('title')?.touched)}">
                    მინიმუმ 2 სიმბოლო</p>
            </div>
        </div>
        <div class="single-input">
            <label for="description">აღწერა *</label>
            <br>
            <textarea id="description" placeholder="შეიყვანეთ აღწერა" formControlName="description"></textarea>
            <p class="hint"
                [ngClass]="{ 'valid-hint': !form.get('description')!.hasError('minlength') && form.get('description')!.touched,
            'invalid-hint': (form.get('description')!.hasError('minlength') && form.get('description')!.touched) || (form.get('description')?.hasError('required') && form.get('description')?.touched)}">
                მინიმუმ 2 სიმბოლო</p>
        </div>
        <div class="two-input-line">
            <div class="single-input date-container">
                <img src="../../assets/images/calendar.png" alt="calendar">
                <label for="date">გამოქვეყნების თარიღი *</label>
                <br>
                <input type="date" id="date" formControlName="date">
            </div>
            <div class="single-input">
                <div class="select-container">
                    <label for="category">კატეგორია *</label>
                    <br>
                    <div class="selected-items">
                        <div class="selected-item" *ngFor="let selectedOption of selectedOptions"
                            [style.background-color]="selectedOption.background_color"
                            [style.color]="selectedOption.text_color">
                            {{selectedOption.title}}
                            <button class="remove-category" (click)="removeOption(selectedOption)">x</button>
                        </div>
                    </div>

                    <select formControlName="categories" (change)="onSelectionChange($event)">
                        <option value="" disabled selected *ngIf="selectedOptions.length === 0">აირჩიეთ კატეგორია
                        </option>
                        <option *ngFor="let category of categoriesArr$ | async" [value]="category | json">
                            {{ category.title }}
                        </option>
                    </select>

                </div>

            </div>
        </div>
        <div class="single-input">
            <label for="email">ელ-ფოსტა</label>
            <br>
            <input type="email" placeholder="Example@redberry.ge" formControlName="email" class="email-input">
            <div class="email-hint" *ngIf=" form.get('email')?.hasError('invalidEmail') && form.get('email')?.touched">
                <img src="../../assets/images/info-circle.png" alt="hint" width="20" height="20">
                <span>მეილი უნდა მთავრდებოდეს &#64;redberry.ge-ით</span>
            </div>
        </div>

        <button type="submit" disabled>გამოქვეყნება</button>
    </form>


</div>