nav {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ::-webkit-scrollbar {
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 720px;
        height: auto;
        margin: 0;
        padding-left: 25px;
        overflow-x: scroll;
        scrollbar-width: thin;



        button {
            height: 32px;
            width: max-content;
            border-radius: 30px;
            padding: 8px 16px;
            margin-right: 23px;
            margin-bottom: 5px;

            font-family: 'FiraGO', sans-serif;
            font-size: 12px;
            font-weight: 400;
        }
    }



}